html, body {
    height: 100%;
    margin: 0;
}

.outer {
    height: 100%;
    align-content: center;
    width: 100%;
}

.outer:hover > .inner {
    transform: scaleX(99%);
}

.inner:active {
    width: 99%;
    transition: width 1s;
}

.inner {
    color: azure;
    font-size: 20px;
    background-color: rgb(197, 28, 28);
    width: 100px;
    height: 30px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}

.inner:hover {
    width: 99%;
    transition: all;
}

#ease-in {
        transition: transform ease-in 1s;
}

#ease-in:hover {
    transform: scaleX(99%);
}

#ease {
    transition: transform ease 1s;
}

#ease:hover {
    transform: scaleX(99%);
}

#ease-out {
    transition: transform ease-out 1s;
}

#ease-out:hover {
    transform: scaleX(99%);
}

#ease-in-out {
    transition: transform ease-in-out 1s;
}

#ease-in-out:hover {
    transform: scaleX(99%);
}

#linear {
    transition: transform linear 1s;
}

#linear:hover {
    transform: scaleX(99%);
}
