html, body {
    margin: 0;
    height: 100%;
}

.outer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(195, 245, 252, 0.706);
    border: 3px solid black;
    border-radius: 30px;
    padding: 10px;
}

span {
    color: rgb(246, 41, 41);
}